[Unit]
Description=UberEats Printer Proxy
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u __NODE_HOME__/proxy.py
WorkingDirectory=__NODE_HOME__
Restart=always
RestartSec=5
User=__NODE_USER__
StandardOutput=append:__NODE_HOME__/proxy.log
StandardError=append:__NODE_HOME__/proxy.log

[Install]
WantedBy=multi-user.target
